Repository Activation-Functions/flopoco: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build_squid_debian, build_squid_macos

.gitlab-ci.yml:

stages:
  - build
  - deploy

pages:
  stage: deploy
  script:
    - mkdir public
    - cd doc/web/bib && bibtex2html -t "Publications about FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco.bib && bibtex2html -t "Publications using FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco-users.bib && cd ../../..
    - cd doc/flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && bibtex flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && pdflatex flopoco_developer_manual.tex && cp flopoco_developer_manual.pdf  ../web/ && cd ../..
    - cd doc/pdf_doc && pdflatex flopoco_manual && bibtex flopoco_manual && pdflatex flopoco_manual && pdflatex flopoco_manual && cp flopoco_manual.pdf  ../web/ && cd ../..
    - cp doc/FloPoCo-revised-AGPL-license-v1.1.pdf doc/web/
    - cp -R doc/web/* public/
  artifacts:
    paths:
      - public
  only:    
    refs:
      - master
    changes:
      - doc/web/**/*

build_squid_debian:
  stage: build
  tags:
    - debian
  rules:  
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"' 
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  before_script:
    - apt update
    - apt install -y git make sudo
  script:
    - make sysdeps flopoco
    - make install
    - flopoco

build_squid_macos:
  stage: build
  tags:
    - macos
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  script:
    - gmake sysdeps flopoco
    # Ideally, we would need to test the install step
    # but on our current runner, it would require having sudo...

Forgot to remove a debug print
  code/VHDLOperators/src/Signal.cpp
Due: build_squid_debian, build_squid_macos

[merge] set 'test' and 'deploy' stages to dev/master branch
  .gitlab-ci.yml
Due: none

Adding comment to explain output delay resyncronisation in the testbench
  code/VHDLOperators/src/TestBenches/TestBench.cpp
Due: build_squid_debian, build_squid_macos

[CI] reinstate build artifacts
  .gitlab-ci.yml
Due: none

Fix small bug when using nameSignalByCycle in the testbench
  code/VHDLOperators/src/TestBenches/TestBench.cpp
Due: build_squid_debian, build_squid_macos

[CI] re-add merge_request_event for 'autotests' and 'deploy' stages
  .gitlab-ci.yml
Due: none

[autotests] updated 'doc/web/autotests.html' and .csv [skip ci]
  doc/web/autotests.csv
  doc/web/autotests.html
Due: pages

[musl] fixing 'uint' type not in musl standard <cstdint>
  code/VHDLOperators/include/flopoco/TestBenches/PositNumber.hpp
  code/VHDLOperators/src/ConstMult/IntConstMultShiftAddTypes.cpp
  code/VHDLOperators/src/PrimitiveComponents/GenericLut.cpp
  code/VHDLOperators/src/PrimitiveComponents/GenericMux.cpp
  code/VHDLOperators/src/PrimitiveComponents/Xilinx/XilinxTernaryAddSub.cpp
  code/VHDLOperators/src/PrimitiveComponents/Xilinx/XilinxTernaryAddSubSlice.cpp
  code/VHDLOperators/src/TestBenches/PositNumber.cpp
Due: build_squid_debian, build_squid_macos

[musl] for now, remove FORTIFY_SOURCE compile flag compatibility
  Makefile
Due: build_squid_debian, build_squid_macos

[build] fixing rpath problems with libScaLP-SCIP.so
  tools/scalp.patch
Due: none

[CI] trigger when changes are made on 'tools/scalp.patch' (temporary)
  .gitlab-ci.yml
Due: none

[autotests] updated 'doc/web/autotests.html' and .csv [skip ci]
  doc/web/autotests.html
Due: pages

[musl] bad indent
  Makefile
Due: build_squid_debian, build_squid_macos

[scalp-soplex] added option to scalp.patch in order to link soplex separately from scip (or not)
  Makefile
Due: build_squid_debian, build_squid_macos

[scalp-soplex] added option to scalp.patch in order to link soplex separately from scip (or not)
  Makefile
  tools/scalp.patch
Due: build_squid_debian, build_squid_macos
