Repository Activation-Functions/flopoco: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build_squid_debian, build_squid_macos

.gitlab-ci.yml:

stages:
  - build
  - deploy

pages:
  stage: deploy
  script:
    - mkdir public
    - cd doc/web/bib && bibtex2html -t "Publications about FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco.bib && bibtex2html -t "Publications using FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco-users.bib && cd ../../..
    - cd doc/flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && bibtex flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && pdflatex flopoco_developer_manual.tex && cp flopoco_developer_manual.pdf  ../web/ && cd ../..
    - cd doc/pdf_doc && pdflatex flopoco_manual && bibtex flopoco_manual && pdflatex flopoco_manual && pdflatex flopoco_manual && cp flopoco_manual.pdf  ../web/ && cd ../..
    - cp doc/FloPoCo-revised-AGPL-license-v1.1.pdf doc/web/
    - cp -R doc/web/* public/
  artifacts:
    paths:
      - public
  only:    
    refs:
      - master
    changes:
      - doc/web/**/*

build_squid_debian:
  stage: build
  tags:
    - debian
  rules:  
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"' 
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  before_script:
    - apt update
    - apt install -y git make sudo
  script:
    - make sysdeps flopoco
    - make install
    - flopoco

build_squid_macos:
  stage: build
  tags:
    - macos
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  script:
    - gmake sysdeps flopoco
    # Ideally, we would need to test the install step
    # but on our current runner, it would require having sudo...

[autotests] updated 'doc/web/autotests.html' and .csv [skip ci]
  doc/web/autotests.html
Due: pages

[doc] remove 'operator autotest results' href in index.html (for now)
  doc/web/index.html
Due: pages

[doc] re-habilitate doxyfile, add dot-graph generation
  doc/doxygen/Doxyfile
Due: none

[make] fix proposal for #36
  Makefile
Due: build_squid_debian, build_squid_macos

[make] add 'sysdeps' target to 'all' for fresh installs
  Makefile
Due: build_squid_debian, build_squid_macos

[git] added a few more .gitignore rules
  .gitignore
Due: none

[CI] remove 'scalp.patch' trigger, build with ninja on debian
  .gitlab-ci.yml
Due: none

[make] merge build/dependencies/bin/... directory, add 'install-dependencies' make rule
  Makefile
  tools/utilities.mk
Due: build_squid_debian, build_squid_macos

[make] replaced 'dependencies/bin' by 'dependencies/prefix', added 'uninstall-dependencies' target
  Makefile
Due: build_squid_debian, build_squid_macos

Added HWTargets
  CMakeLists.txt
  code/HWTargets/include/flopoco/Target.hpp
  code/HWTargets/include/flopoco/Targets/AllTargetsHeaders.hpp
  code/HWTargets/include/flopoco/Targets/Kintex7.hpp
  code/HWTargets/include/flopoco/Targets/ManualPipeline.hpp
  code/HWTargets/include/flopoco/Targets/StratixV.hpp
  code/HWTargets/include/flopoco/Targets/Versal.hpp
  code/HWTargets/include/flopoco/Targets/Virtex6.hpp
  code/HWTargets/include/flopoco/Targets/VirtexUltrascalePlus.hpp
  code/HWTargets/include/flopoco/Targets/Zynq7000.hpp
  code/HWTargets/src/Target.cpp
  code/HWTargets/src/Targets/CMakeLists.txt
  code/HWTargets/src/Targets/Kintex7.cpp
  code/HWTargets/src/Targets/ManualPipeline.cpp
  code/HWTargets/src/Targets/StratixV.cpp
  code/HWTargets/src/Targets/Versal.cpp
  code/HWTargets/src/Targets/Virtex6.cpp
  code/HWTargets/src/Targets/VirtexUltrascalePlus.cpp
  code/HWTargets/src/Targets/Zynq7000.cpp
  code/HighLevelArithmetic/CMakeLists.txt
  code/HighLevelArithmetic/src/CMakeLists.txt
  code/VHDLOperators/CMakeLists.txt
  code/VHDLOperators/src/Tables/TableOperator.cpp
  doc/web/operators_5.0.git.html
Due: pages, build_squid_debian, build_squid_macos

missing file
  code/HWTargets/CMakeLists.txt
  code/HWTargets/src/CMakeLists.txt
Due: build_squid_debian, build_squid_macos

[target] try and remove useless includes
  code/HWTargets/CMakeLists.txt
  code/HWTargets/include/flopoco/Targets/Kintex7.hpp
  code/HWTargets/include/flopoco/Targets/ManualPipeline.hpp
  code/HWTargets/include/flopoco/Targets/StratixV.hpp
  code/HWTargets/include/flopoco/Targets/Versal.hpp
  code/HWTargets/include/flopoco/Targets/Virtex6.hpp
  code/HWTargets/include/flopoco/Targets/VirtexUltrascalePlus.hpp
  code/HWTargets/include/flopoco/Targets/Zynq7000.hpp
Due: build_squid_debian, build_squid_macos

[make] 'install' target corrections
  Makefile
  doc/web/flopoco_installation.html
Due: pages, build_squid_debian, build_squid_macos

[autotests] updated 'doc/web/autotests.html' and .csv [skip ci]
  doc/web/autotests.csv
  doc/web/autotests.html
Due: pages
