Repository Activation-Functions/flopoco: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build_squid_debian, build_squid_macos

.gitlab-ci.yml:

stages:
  - build
  - deploy

pages:
  stage: deploy
  script:
    - mkdir public
    - cd doc/web/bib && bibtex2html -t "Publications about FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco.bib && bibtex2html -t "Publications using FloPoCo" --header "<p><em>If some of your works belong here, please drop a mail to F. de Dinechin with the corresponding bibtex entries</em></p><hr>" -d -r -revkeys flopoco-users.bib && cd ../../..
    - cd doc/flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && bibtex flopoco_developer_manual && pdflatex flopoco_developer_manual.tex && pdflatex flopoco_developer_manual.tex && cp flopoco_developer_manual.pdf  ../web/ && cd ../..
    - cd doc/pdf_doc && pdflatex flopoco_manual && bibtex flopoco_manual && pdflatex flopoco_manual && pdflatex flopoco_manual && cp flopoco_manual.pdf  ../web/ && cd ../..
    - cp doc/FloPoCo-revised-AGPL-license-v1.1.pdf doc/web/
    - cp -R doc/web/* public/
  artifacts:
    paths:
      - public
  only:    
    refs:
      - master
    changes:
      - doc/web/**/*

build_squid_debian:
  stage: build
  tags:
    - debian
  rules:  
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"' 
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  before_script:
    - apt update
    - apt install -y git make sudo
  script:
    - make sysdeps flopoco
    - make install
    - flopoco

build_squid_macos:
  stage: build
  tags:
    - macos
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev/master"'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - code/**/*
        - cmake/*
        - Makefile
        - CMakeLists.txt
  script:
    - gmake sysdeps flopoco
    # Ideally, we would need to test the install step
    # but on our current runner, it would require having sudo...

fixed path of flopoco bin
  doc/web/install_scripts/install-full-gitmaster-on-focal64.sh
Due: pages

[make] scalp patch removal
  Makefile
Due: build_squid_debian, build_squid_macos

[make] scalp patch removal
  Makefile
  tools/scalp.patch
Due: build_squid_debian, build_squid_macos

[autotests] updated 'doc/web/autotests.html' and .csv [skip ci]
  doc/web/autotests.html
Due: pages

install_scripts/install-plain-gitmaster-on-focal64.sh added back
  doc/web/install_scripts/install-full-gitmaster-on-focal64.sh
  doc/web/install_scripts/install-plain-gitmaster-on-focal64.sh
Due: pages

install_scripts/install-plain-gitmaster-on-focal64.sh added back (there is not difference to the full version)
  doc/web/install_scripts/install-plain-gitmaster-on-focal64.sh
Due: pages

[merge] dev/master (cmake update + build scripts) into master
  CMakeLists.txt
  Makefile
  cmake/FindGMP.cmake
  cmake/FindGMPXX.cmake
  cmake/FindMPFI.cmake
  cmake/FindMPFR.cmake
  cmake/FindScaLP.cmake
  cmake/FindSollya.cmake
  cmake/FindWCPG.cmake
  cmake/PAGSuite.cmake
  tools/utilities.mk
Due: build_squid_debian, build_squid_macos

First attempt at a flopoco -> ieee down converter.
  code/VHDLOperators/src/Conversions/OutputIEEE.cpp
Due: build_squid_debian, build_squid_macos

[merge] doc/web/flopoco_installation.html sync
  doc/web/flopoco_installation.html
Due: pages

[merge] update 'flopoco_manual.text' with a subsection on gitlab contributions
  doc/pdf_doc/flopoco_manual.tex
Due: none

[merge] update install/docker scripts
  doc/web/Docker/Dockerfile.plain.gitmaster
  doc/web/install_scripts/install-full-gitmaster-fedora.sh
  doc/web/install_scripts/install-full-gitmaster-on-focal64.sh
Due: pages

[merge] few corrections
  doc/pdf_doc/flopoco_manual.tex
  doc/web/Docker/Dockerfile.full.gitmaster
Due: pages

[merge] create the flopoco symlink in build/ instead of repository root
  Makefile
Due: build_squid_debian, build_squid_macos

[merge] few Makefile corrections
  Makefile
Due: build_squid_debian, build_squid_macos

[CI] use 'make autotests' command
  .gitlab-ci.yml
Due: none

[doc] flopoco_installation.html: install note for macOS users
  doc/web/flopoco_installation.html
Due: pages

Installation manual updated
  doc/web/flopoco_installation.html
Due: pages

Installation manual updated (small bugfix)
  doc/web/flopoco_installation.html
Due: pages

[doc] flopoco_installation.html remove previous note in favour of adistinct macOS subsection
  doc/web/flopoco_installation.html
Due: pages

Change "clockEnable" parameter for the less ambiguous "writeEnable"
  code/HighLevelArithmetic/include/flopoco/Target.hpp
  code/HighLevelArithmetic/src/Target.cpp
  code/VHDLOperators/include/flopoco/Operator.hpp
  code/VHDLOperators/include/flopoco/UserInterface.hpp
  code/VHDLOperators/src/Operator.cpp
  code/VHDLOperators/src/TestBenches/RegisterSandwich.cpp
  code/VHDLOperators/src/TestBenches/TestBench.cpp
  code/VHDLOperators/src/UserInterface.cpp
  doc/pdf_doc/flopoco_manual.tex
Due: build_squid_debian, build_squid_macos
